.logo{
    margin: 10PX;
    max-width: 170px; 
}
header{
    background-color:rgba(51, 51, 51);
}

body {
  background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)10%), url(https://thumbs.gfycat.com/AdventurousNauticalDoctorfish-size_restricted.gif);
  min-height: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
    margin: 0;
    padding: 0;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #fff;         
    margin-right: 20px;
}

header nav a:hover{
    color:black;
}

.musica-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)50%), url('https://images.unsplash.com/photo-1501612780327-45045538702b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    height:700px;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.descricao{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
/* rgba(7, 9, 39);*/
.botao{
    background-color: rgba(51, 51, 51, 0.8);
    border:none;
    color: white;
    padding:15px 30px;
    margin-right: 15px;
    font-size: 13px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: #eee;
    color:black;
}

.botao i{
    margin-right: 8px;
}

/*.parallax{
  background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)10%), url(https://thumbs.gfycat.com/AdventurousNauticalDoctorfish-size_restricted.gif);
  min-height: 50px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

.trance{
  color: #ddd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  right: 50%;
  margin:2%;

}

.card-sound{
  margin: 3%;
}

.soundcloud{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ouca-novamente{
  display: flex;
  justify-content: center;
  margin: 5%;
  color: #fff;

}
/*Cards*/
.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card{
  display: flex;
  font-size: 15px;
  background-color:transparent;
  color:#fff;
  border: none;
}

.btn{
   color: #fff;
   background-color: rgba(51, 51, 51);
   border: none;
}
/*REPRODUTOR DE MUSICA*/
.reprodutor{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color:transparent;
  color: #ddd;
}
capa-musica{
  width: 300px;
  height: 300px;
}

.texto{
  width: 300px;

}

h2{
  margin-bottom: 5px;
}

.duracao{
  width: 300px;
  margin-top: 25px;
}

.barra{
  width: 300px;
  height: 6px;
  border: 1px solid #eee;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

progress{
  height: 6px;
  width: 0%;
  background-color: #333;
}

.ponto{
  width: 15px;
  height: 15px;
  background-color: #eee;
  border-radius: 50%;
  margin-left: -10px;
}

.tempo{
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.player{
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.botao-play, .botao-pause{
font-size: 50px;
cursor: pointer;
transition: .3s ease all;
}

.setas{
font-size: 40px;
cursor: pointer;
transition: .3s ease all;
}

.botao-pause{
  display: none;
}

.botao-play:hover, .botao-pause:hover, .setas:hover{
  color:rgba(51,51,51);
}

/*FIM*/
.footer{
  padding-top: 10%;
  color: #ddd;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.col-md-3 {
  width: 15rem;
  position: relative;
}
.col-md-3 .seg {
  width: 15rem;
  visibility: hidden;
  opacity: 0;
  position:absolute;
  top:0;
  left:0;
}
.col-md-3:hover .seg {
  visibility: visible;
  opacity: 1;
  transition: .3s ease all;
}

p{
    text-align: center;
    color: #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #cc3a00;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}
