@media screen and (max-width:700px){
  body {
    background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)200%), url('');
    min-height: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 

  
  header .container {
    display: flex;
    flex-direction: column;
    }
  
  .container {
    text-align: center;
  }

  .botao{
      margin-top: 5px;
      width: 160px;
      height: 50px;
  }


  .musica-principal{
    background: linear-gradient(rgba(0,0,0.0),rgba(0,0,0,.0)50%), url('https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/b3590790356225.5e155c6ff2f91.jpg');
    height:50rem;
    display: flex;
    background-size:cover;
    background-attachment: fixed;
}

.titulo{
  text-align: center;
  font-size: 1.2rem;
}

.reprodutor{
  margin: 200px;
}

}

@media screen and (max-width:700px){
  .descricao{
      width: 50%;
  }

  .pace {
      -webkit-pointer-events: none;
      pointer-events: none;
    
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #37c6f4;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
  }
  
  
  .col-md-3 {
    width: 15rem;
    position: relative;
  }
  
  .col-md-3 .seg {
    width: 15rem;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
  }
  
  .col-md-3:hover .seg {
    visibility: visible;
    opacity: 1;
    transition: .3s ease all;
  }

  footer{
    color: #ddd;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
}