@media screen and (max-width:700px){
  body {
    background: linear-gradient(rgba(0,0,0.50),rgba(0,0,0,.50)200%), url('');
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  } 

  
  header .container {
    display: flex;
    flex-direction: column;
    }
  
  .container {
    text-align: center;
  }

  .botao{
      margin-top: 5px;
      width: 160px;
      height: 50px;
  }


  .musica-principal{
    background: linear-gradient(rgba(0,0,0.10),rgba(0,0,0,.30)50%), url('https://scontent.fbnu1-1.fna.fbcdn.net/v/t39.30808-6/269833465_2028877677270732_6196282927729752944_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGgmvuqVUUqQ705ry8Bd2McbayanIOwWlltrJqcg7BaWT_Zzy0E_SpE7M6q_6hzi8g6cUzgIR69sMyHz0a7am4c&_nc_ohc=Pk-UVCwoppAAX8nHOaD&_nc_ht=scontent.fbnu1-1.fna&oh=00_AT8iZWBgdsAbjxiHwUYXWWXAdsd6GQtXwb3RM0pvHHoAhA&oe=621EFF13');
    height:50rem;
    display: flex;
    background-size:cover;
    background-attachment: fixed;
}

.titulo{
  text-align: center;
  font-size: 1.2rem;
}

.reprodutor{
  margin: 200px;
}

}

@media screen and (max-width:700px){
  .descricao{
      width: 50%;
  }

  .pace {
      -webkit-pointer-events: none;
      pointer-events: none;
    
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #37c6f4;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
  }
  
  
  .col-md-3 {
    width: 15rem;
    position: relative;
  }
  
  .col-md-3 .seg {
    width: 15rem;
    visibility: hidden;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
  }
  
  .col-md-3:hover .seg {
    visibility: visible;
    opacity: 1;
    transition: .3s ease all;
  }

  footer{
    color: #ddd;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
}